<!doctype html>
<html class="h-100" lang="pt-BR">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Daniela Soares</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
  <link rel="stylesheet" href="../css/index.css">
</head>

<body class="d-flex flex-column h-100">
  <nav class="navbar navbar-expand-lg" aria-label="Tenth navbar example">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample08"
        aria-controls="navbarsExample08" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-md-center" id="navbarsExample08">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="../../index.html">home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">sobre mim</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container">
    <div class="row mt-lg-5">
      <div class="col-12 col-lg-4">
        <img src="../resources/fotoDaniela.jpg" class="rounded-circle" style="height: 320px;">
      </div>
      <div class="col-12 col-lg-8 text-center text-lg-start mt-3">
        <span class="mt-4 mt-lg-0">Desenvolvedora full stack júnior</span>
        <h1 class="fw-semibold">Daniela Soares</h1>
        <div class="my-3 lh-lg">
          <img src="https://img.shields.io/badge/-JavaScript-F7DF1E?logo=javascript&logoColor=black&style=flat" alt="">
          <img src="https://img.shields.io/badge/-Node.js-339933?logo=node.js&logoColor=white&style=flat" alt="">
          <img src="https://img.shields.io/badge/-Express-000000?logo=express&logoColor=white&style=flat" alt="">
          <img src="https://img.shields.io/badge/-Nest.js-E0234E?logo=nestjs&logoColor=white&style=flat" alt="">
          <img src="https://img.shields.io/badge/-MongoDB-47A248?logo=mongodb&logoColor=white&style=flat" alt="">
          <img src="https://img.shields.io/badge/-PostgreSQL-336791?logo=postgresql&logoColor=white&style=flat" alt="">
          <img src="https://img.shields.io/badge/-AXIOS-61DAFB?logo=axios&logoColor=white&style=flat" alt="">
          <img src="https://img.shields.io/badge/-JWT-000000?logo=jsonwebtokens&logoColor=white&style=flat" alt="">
          <img src="https://img.shields.io/badge/-Bootstrap-563D7C?logo=bootstrap&logoColor=white&style=flat" alt="">
          <img src="https://img.shields.io/badge/-HTML5-E34F26?logo=html5&logoColor=white&style=flat" alt="">
          <img src="https://img.shields.io/badge/-CSS3-1572B6?logo=css3&logoColor=white&style=flat" alt="">
          <img src="https://img.shields.io/badge/-ReactJs-61DAFB?logo=react&logoColor=white&style=flat" alt="">
          <img src="https://img.shields.io/badge/-GIT-F05032?logo=git&logoColor=white&style=flat" alt="">
          <img src="https://img.shields.io/badge/-NPM-CB3837?logo=npm&logoColor=white&style=flat" alt="">
          <img src="https://img.shields.io/badge/-Insomnia-5849BE?logo=insomnia&logoColor=white&style=flat" alt="">
          <img src="https://img.shields.io/badge/-SQL-003366?logo=sql&logoColor=white&style=flat" alt="">
          <img src="https://img.shields.io/badge/-AWS-232F3E?logo=amazon-aws&logoColor=white&style=flat" alt="">

        </div>
        <p>Oi, tudo bem? Pode me chamar de Dani 👩🏻‍💻
          <br>
          <br>
          Minha primeira graduação foi em medicina veterinária, mas atualmente estou em transição de carreira para a
          área de tecnologia.
          <br>
          <br>
          Estou cursando Ciências da Computação pela Estácio, buscando fortalecer meu conhecimento técnico estudando a
          base das tecnologias.
          <br>
          <br>
          Como formação complementar, realizei curso profissionalizante de Desenvolvimento de sofware com foco em
          Back-end pela Cubos Academy. 
          <br>
          Estou cursando AWS re/start pela Escola da Nuvem, visando aprender mais sobre infraestrutura cloud AWS.
          <br>
          <br>
          Gosto muito de animais 🦎, jardinagem 🌱, culinária 👩‍🍳, motociclismo 🏍️, sustentabilidade ♻️, e como uma
          boa desenvolvedora, café (sem açúcar) ☕.
          <br>
          <br>
          Para me conhecer melhor, você pode:
        </p>

        <div>
          <a href="../resources/curriculoDaniela.pdf" class="btn btn-outline-dark mt-3" target="_blank"><i
              class="bi bi-file-earmark-text-fill"></i>&nbsp;&nbsp;Veja meu currículo</a>
          <a href="https://github.com/Danifeares" class="btn btn-outline-dark mt-3" target="_blank"><i
              class="bi bi-github"></i>&nbsp;&nbsp;Visite meu GitHub</a>
          <a href="https://www.linkedin.com/in/daniela-felipe-soares/" class="btn btn-outline-dark mt-3" target="_blank"><i
              class="bi bi-linkedin"></i>&nbsp;Visite meu LinkedIn</a>
        </div>
      </div>
    </div>
  </div>

  <footer class="footer mt-auto">
    <div class="container">
      <hr>
      <p class="text-center text-body-secondary text-reset">&copy; 2023 - desenvolvido por Daniela Felipe Soares </p>
    </div>
  </footer>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
</body>

</html>